<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <appSettings>
    <add key="java" value="WindowsAzure/azure-sdk-for-java,WindowsAzure/azure-sdk-for-java-pr"/>
    <add key="cli" value="WindowsAzure/azure-sdk-tools,WindowsAzure/azure-sdk-tools-xplat,WindowsAzure/azure-sdk-for-node,WindowsAzure/socket.io-servicebus"/>
  </appSettings>
</configuration>